html{
    font-weight: bolder;
    background-color: #4da660;
    font-size: large;
}
div{
    background-color: #f6f6f6;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}
input{
    background-color: #d8d8d8;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}
label {font-weight: bold;}
button{
    border: 0px;
    background-color: #4da660;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    color: #f6f6f6;
    font-size: larger;
    font-weight: bolder;
}
button:hover{
    border: 1px;
    background-color: #5db670;
}
.erro{
    color:red;
    font-weight: lighter;
}