html{
    font-weight: bolder;
    background-color: #4da660;
    font-size: large;
}
div{
    background-color: #f6f6f6;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}
.menu{
    z-index: 2;
    background-color: #447C50;
    
}
.menu svg{
    color: #d9d9d9;
}

input{
    background-color: #d8d8d8;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}
label {font-weight: bold;}

button{
    border: 0px;
    background-color: #4da660;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    color: #f6f6f6;
    font-size: larger;
    font-weight: bolder;
}
button:hover{
    border: 1px;
    background-color: #5db670;
}
.erro{
    color:red;
    font-weight: lighter;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.n1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4da660;
}

.mapBox{
    position: center;
    width: 100px;
    height: 100px;
    background-color: #4da660;
}

.mapBox iframe{
    width: 1339px;
    height: 630px;
}

.custom-map-control-button{
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 2px;
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

.custom-map-control-button:hover {
    background: rgb(235,235,235);
}

body{
    font-family: 'Lato', sans-serif;
}
  
.wrapper{
    position: fixed;
    top: 90%;
    left: 12%;
    transform: translate(-50%, -50%);
}
  
.link_wrapper{
    position: relative;
}
  
a{
    display: block;
    width: 150px;
    height: 33px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    background: #4da660;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #4da660;
    transition: all .35s;
}
  
.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}
  
.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
}
  
a:hover{
    width: 200px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
}
  
a:hover + .icon{
    border: 3px solid #2ecc71;
    right: -25%;
}